* {
  box-sizing: border-box;
  font-family: 'Carter One', cursive;
}

body {
  max-height: 100vh;
  width: auto;
  display: grid;
  background-image: linear-gradient(to bottom right, rgb(4, 56, 4),rgb(19, 95, 19),rgb(17, 136, 27));
  grid-template-rows: 1fr 6fr 1fr;
  grid-template-columns: 1vw auto 1vw;
  grid:
  "header header header" 
  "left h1 right" 
  "left message right" 
  "left body right"
  "left footer right" auto;
  cursor: default;
}

h1 {
  height: 12vh;
  grid-area: header;
  font-size: 8vmin;
  text-align: center;
  background-image: linear-gradient(#ffd700, red, #ffd700);
  background-size: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container {
  grid-area: body;
  justify-self: center;
  align-self: center;
  display: grid;
  height: auto;
  width: auto;
  padding: 1vmin;
  grid-template: repeat(3, 1fr) / repeat(5, 1fr);
  border: solid #ffd700;
  border-radius: 2vmin;
  animation: shadow-glow 4s ease-in-out infinite alternate;
  gap: .35vmin .95vmin;
  margin-bottom: 2vmin;
}

.container > .cells {
  display: grid;
  height: 17vh;
  width: 14vw;
  background-color: rgb(77, 47, 8);
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 12vmin;
  border-width: .5vmin;
  border-style: solid;
  /* border-image: linear-gradient(#ffd700, rgb(16, 97, 16), #ffd700) 1; */
  border-image: linear-gradient(rgb(4, 56, 4), #ffd700, rgb(4, 56, 4)) 1;
  animation: shadow-glow 4s ease-in-out infinite alternate;
}

footer {
  grid-area: footer;
  height: 30vh;
  width: auto;
  font-family: 'Carter One', cursive;
  border: solid .25vh #ffd700;
  border-radius: 3vmin;
  background-color: rgb(77, 47, 8);
  color: rgba(255, 255, 255, 0.719);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 2fr fr 1fr;
  gap: 0;
}

#balance-text {
  grid-row: 3;
  grid-column: 2;
  border: solid .25vh #ffd700;
  text-align: center;
  align-self: end;
  margin: 0 3vmin 0 3vmin;
  border-radius: 3vmin;
}

#balance-amount {
  grid-row: 4;
  grid-column: 2;
  text-align: center;
  height: 4vmin;
  border-radius: 3vmin;
}

#win-text {
  grid-row: 3;
  grid-column: 3;
  border: solid .25vh #ffd700;
  text-align: center;
  align-self: end;
  margin: 0 3vmin 0 3vmin;
  border-radius: 3vmin;
}
#win-total {
  grid-row: 4;
  grid-column: 3;
  border-radius: 3vmin;
  text-align: center;
  height: 4vmin;
}

#win-summary {
  grid-row: span 2;
  grid-column: 2;
  text-align: center;
  justify-self: center;
  align-self: center;
  margin-left: 2.5vmin;
}

#spin-button {
  grid-row: span 2;
  grid-column: 1;
  color: white;
  background-image: radial-gradient(red, rgb(70, 16, 16));
  height: 12vh;
  width: 24vw;
  border-radius: 3vmin;
  border: .25vmin solid #ffd700;
  font-size: 8vmin;
  cursor: pointer;
  justify-content: center;
  align-content: center;
  text-align: center;
  margin: 3vmin 0 2vmin 3vmin;
  background-image: linear-gradient(#ffd700, red, #ffd700);
}

#spin-button:active {
  background-image: radial-gradient(red, #ffd700, red);
}

#bet-amount-text {
  grid-row: 3;
  grid-column: 1;
  border: solid .25vh #ffd700;
  text-align: center;
  align-self: end;
  border-radius: 3vmin;
  margin: 0 3vmin 0 3vmin;
}  

.bet-button-active {
  background-image: linear-gradient(#ffd700, red, #ffd700);
  border: .25vmin solid #ffd700;
}
.buttons {
  grid-column: 1;
  grid-row: 4;
  font-size: auto;
  align-self: center;
  justify-self: center;
  cursor: pointer;
}

#bet-five {
  width: 6vmin;
  height: 4vmin;
  border: .25vmin solid #ffd700;
  grid-row: 4;
  grid-column: 2;
  border-radius: 3vmin;
  cursor: pointer;
}

#bet-ten {
  width: 6vmin;
  height: 4vmin;
  border: .25vmin solid #ffd700;
  grid-row: 4;
  grid-column: 2;
  border-radius: 3vmin;
  cursor: pointer;
}

#bet-twentyfive {
  width: 6vmin;
  height: 4vmin;
  border: .25vmin solid #ffd700;
  grid-row: 4;
  grid-column: 2;
  border-radius: 3vmin;
  cursor: pointer;
}

@keyframes rotate {
  0% {
    transform: rotate(0)
  }
  100% {
    transform: rotate(360deg)
  }
}


@keyframes shadow-glow {
  0% {
    box-shadow: 0 0 2vmin #ffd700;
  }
  100% {
    box-shadow: 0 0 10vmin #ffd700;
  }
}